<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Restaurant Managment</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="script.js"></script>
    
        <script>
            $(document).ready(function(){
	        // Activate tooltip
	        $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    
    </head>

<body>   
    <div class="container">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row" style="justify-content: space-around;">
                        <div class="col-sm-4">
                            <h2>Manage <b>Restaurants</b></h2>
                        </div>
                        <div class="col-sm-2 ">
                            <div class="form-group">
                                <form action="/change" method="post">
                                    <label>Result Per Page</label>
                                    <input type="number" name="resultPP" id="RPP" value="<%= resultPerPage%>">
                                    <button class="btn btn-sm" style="align-items: center;">Submit</button>
                                </form>
                            </div>
                        </div>
                    
                        <div class="col-sm-4" >
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Restaurant</span></a>
                            <!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>						 -->
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll">
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th>Restaurant Name</th>
                            <th>Cuisine</th>
                            <th>Address</th>
                            <th>Restaurant ID</th>
                            <!-- <th>Actions</th> -->
                        </tr>
                    </thead>
